.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar > {
  padding-left: 100px;
}
.footer > a{
  margin-left:10px 0; 
}
.addButton{
  margin-left: 73%;
  
}
.que{
  margin-left: 5%;
}
.mainContainer{
  margin-top: 50px;
  display: flex;
}
.firstContainer{
  margin-top: 10px;
}
.innerMain{
display: flex;
flex-direction: column;
}
.container1{
  align-items:flex-start;
}
.singleQuestion{
  text-align: left;
}
.optionGroup{
  margin-left: 30px;
}
.navbarCss{
  margin-bottom:15px ;
}
.inputAndLabel{
  display: flex;
  justify-content: space-between 10px;
}
body {
  font-family: 'Lato', sans-serif
}

h1 {
  margin-bottom: 40px
}

label {
  color: #333
}
.form-clear {
  align-items: center;
  background: #cecece;
  border-radius: 50%;
  bottom: 8px;
  color: rgba(0, 0, 0, .54);
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 24px;
  z-index: 10;
}
.form1 {
  position: relative;
  width: 200px;
}

.form1 input {
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box;
}

.form1 input:placeholder-shown+button {
  opacity: 0;
  pointer-events: none;
}

.form1 button {
  position: absolute;
  border: none;
  display: block;
  width: 15px;
  height: 15px;
  line-height: 16px;
  font-size: 12px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  background: #ddd;
  padding: 0;
  outline: none;
  cursor: pointer;
  transition: .1s;
}


.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px
}

.card {
  margin-left: 10px;
  margin-right: 10px
}
/* .form2  input:not(:focus) + button {
  opacity: 0;
  pointer-events: none;
  /* touch-action: none; */
 */


.form2 input:placeholder-shown+button {
  opacity: 0;
  pointer-events: none;
}
.form2 {
  position: relative;
  width: 200px;
}

.form2 input {
  width: 480px;
  box-sizing: border-box;
}

.form2 input:placeholder-shown+button {
  opacity: 0;
  pointer-events: none;
}

.form2 button {
  position: absolute;
  border: none;
  display: block;
  width: 15px;
  height: 15px;
  line-height: 16px;
  font-size: 12px;
  border-radius: 50%;
  top: 15px;
  bottom: 0;
  right: 0px;
  left: 460px;
  margin: auto;
  background: #ddd;
  padding: 0;
  outline: none;
  cursor: pointer;
  transition: .1s;
}


.optionTextArea{
  width: 700px;
  height: 90px;
}

.questionDiv{
  height: 100px;
}

.queTextArea{
  height: 90px;
}

body {
  background: white;
  /* background: linear-gradient(to right, #0062E6, #33AEFF); */
}

.card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('http://admin.liveexamcenter.in/assets/images/login.png');
  background-size: cover;
  background-color: #007bff;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}


